html
  head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js')
    script(src='/tracker/static/utils.js')
    script.
      window.filterValue = ["!{busList.map(bus => bus.fleet).join('", "')}"]
      window.filterKey = 'fleet'
    
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet')
    link(href='/tracker/static/map.css' rel='stylesheet')
  body
    h1 Bus deployments by model: #{model}
    h2 Now Active:
    for bus in nowRunning.sort((a, b) => a.fleet - b.fleet)
      p #{bus.fleet}: #{bus.service}
      
    div(id='map' style='width: 100vw; height: 50vh;')
    script(src='/tracker/static/all.js')
    
