html
  body
    a(href='/view-all') view all buses
    form(action='/bus' method='get')
      label search by fleet #
      input(name='fleet')
    form(action='/service' method='get')
      label search by service #
      input(name='service')
    form(action='/model' method='get')
      label search by model
      input(name='model')
