html
  body
    a(href='/tracker/view-all') view all buses
    form(action='/tracker/bus' method='get')
      label search by fleet #
      input(name='fleet')
    form(action='/tracker/service' method='get')
      label search by service #
      input(name='service')
    form(action='/tracker/model' method='get')
      label search by model
      input(name='model')
