html
  head
    script(src='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.js')
    script(src='/tracker/static/utils.js')
    
    link(href='https://api.mapbox.com/mapbox-gl-js/v1.2.0/mapbox-gl.css' rel='stylesheet')
    link(href='/tracker/static/map.css' rel='stylesheet')
    style.
      * {margin: 0;padding: 0}
  body
    div(id='map' style='width: 100vw; height: 100vh;')
      
    script(src='/tracker/static/all.js')
